<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
    <title>base</title>
</head>
<body>
    <h1>Test</h1>

    {% from "macros.html" import render %}

    <div>
        <form method="GET">
            <p>ID: <br> <input type="number" min="1" name="ID" ></p>
            <input type="submit" value="Enviar">
        </form>
    </div>
        
        <br>

    <div>
        <form method="GET">
            <div class="form-group col-md-4">
                <label for="tags">Tags:</label>
                <select id="tags" class="form-control">
                <option selected>Elige...</option>
                </select>
            </div>
        </form>    
    </div>  

    <br>

    <button type="button" class="btn btn-primary" id="doc">Documentos</button>
    <button type="button" class="btn btn-primary" id="des">Desarrollo</button>   

    <br>
    
    <div class="container p-3 my-3 border">
        <p>Contenedor</p>
    </div>

    <footer>
            <div class="row">
                <p class="copyrigth text-muted"> &copy;UCT</p>
            </div>
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>