/* #title{background-color: #00acf7; padding: 20px; margin-top: 0%;} */
body{font-family: 'Open Sans','Helvetica','Arial',sans-serif; background-color: rgba(241,241,241,.44);}
footer{background-color: #424242;}