<!DOCTYPE html>
<html lang="es">
<head>
    <title>base</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/style.css">

        
</head>
<body>

    <div style="background-color: #00acf7; padding: 20px;"><h1 style="color: #ffffff;" class="text-center">Proyecto: Editor de texto</h1></div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-4 d-felx flex-column justify-content-center">
                <div>
                    <form action="/" method="POST">
                        <p>ID: <br> <input type="number" min="1" name="ID" ></p>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
                <br>
                <div>
                    <form method="GET">
                        <div class="form-group col-md-4">
                            <label for="tags">Tags:</label>
                            <select id="tags" class="form-control">
                                <option selected>Elige...</option>
                                {%for key in key%}
                                    {%if key != "_id" %}
                                        <option>{{key}}</option>
                                    {% endif %}
                                {%endfor%}
                            </select>
                        </div>
                    </form>    
                </div>  
                <div id="tag_documento">
                    <form method="GET">
                        <div class="form-group col-md-4">
                            <label for="tag_doc">Tags documento:</label>
                            <select id="tag_doc" class="form-control">
                                <option selected>...</option>
                                {%for key in key_doc%}
                                    {%if key != "_id" %}
                                        <option>{{key}}</option>
                                    {% endif %}
                                {%endfor%}
                            </select>
                        </div>
                    </form>    
                </div> 
                <div id="tag_desarrollo">
                    <form method="GET">
                        <div class="form-group col-md-4">
                            <label for="tag_des">Tags desarrollo:</label>
                            <select id="tag_des" class="form-control">
                                <option selected>...</option>
                                {%for key in key_des%}
                                    {%if key != "_id" %}
                                        <option>{{key}}</option>
                                    {% endif %}
                                {%endfor%}
                            </select>
                        </div>
                    </form>    
                </div>     
                <hr>	
                <div class="row">
                    <div class="col d-flex justify-content-around">
                        <button type="button" class="btn btn-info text-white" id="doc">Documentos</button>
                        <button type="button" class="btn btn-info text-white" id="des">Desarrollo</button>
                        <button type="button" class="btn btn-info text-white" id="json">Json Completo</button>
                    </div>
                    <div class="draggable" id = "caja" draggable="true">
                        <br>
                        <p id="contenedor"></p>
                    </div>   
                    <div>
                        <br>
                        <form enctype="multipart/form-data" id = "formjson">

                            <p>
                        
                            Importar Json:
                        
                            <input type="file" name="archivosubido" id = "inputjson">
                        
                            <input type="submit" value="Enviar datos">
                        
                            </p>
                        
                        </form>   
                    </div>
                </div>    
            </div>
            <br><br><br>

            <!-- EDITOR DE TEXTO -->
            <div id="contenedoreditor">
                <form id='save'>
                    <textarea id="froala-editor"></textarea>
                    <button id='guardar'class="btn btn-secondary">Guardar</button>    
                </form>
            </div>
        </div>
    </div>

    <div  id='data' data-data='{{data|tojson}}'></div>

    <footer>
        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> UCT</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>

</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Function.js') }}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>

</html>